name: Verification Tests
on:
  push:
    branches:
      - '**'
jobs:
  test:
    strategy:
      matrix:
        # macos-12 for Intel Mac, macos-14 for Apple Chips Mac
        os: [ubuntu-20.04, windows-2019, macos-12, macos-14]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
      - run: ./run-ci-test.sh
      - uses: actions/upload-artifact@v3
        with:
          name: ux-test-result
          path: ux-and-transport-test/build/reports/tests/test
      - uses: actions/upload-artifact@v3
        with:
          name: unit-test-result
          path: build/reports/tests
